.home-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  color: #000000;
}
