.movie-card {
  background-color: #fcf7f7;
  width: 90vw;
  display: grid;
  grid-template-areas:
    'a b b b f'
    'a c d e f';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 0.3fr 1.5fr 1.5fr 0.5fr 0.2fr;
  align-items: center;
  margin-bottom: 2%;
}
#poster {
  grid-area: a;
  width: 70px;
  height: 102px;
}
#title {
  grid-area: b;
}
#genre {
  grid-area: c;
}
#star {
  grid-area: d;
}
#rating {
  grid-area: e;
}
#drpdwn {
  grid-area: f;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #8b8b8b;
  cursor: pointer;
}

.drpdwn-card {
  display: flex;
  width: 90vw;
  margin-bottom: 2%;
  margin-top: -2%;
  padding: 1%;
  background-color: #fcf7f7;
  align-items: center;
  border-top: 1px solid #8b8b8b;
}

#stars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#stars > p {
  width: 100%;
  text-align: right;
}
#stars > h3 {
  width: 100%;
  text-align: right;
}
