.movie-card {
  background-color: #fcf7f7;
  width: 90vw;
  display: grid;
  grid-template-areas:
    'poster title title title drpdwn'
    'poster genre star rating drpdwn';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1.5fr 1.5fr 0.5fr 0.2fr;
  align-items: center;
  margin-bottom: 2%;
  cursor: pointer;
}
#poster {
  grid-area: poster;
  width: 70px;
  height: 102px;
}
#title {
  grid-area: title;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
#genre {
  grid-area: genre;
  margin-left: 0.5rem;
}
#star {
  grid-area: star;
}
#rating {
  grid-area: rating;
}
#drpdwn {
  grid-area: drpdwn;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #8b8b8b;
  width: 85px;
}

.drpdwn-card {
  display: flex;
  width: 90vw;
  margin-bottom: 2%;
  margin-top: -2%;
  padding: 1%;
  background-color: #fcf7f7;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #8b8b8b;
}

#info {
  width: 70%;
}

#stars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#stars > p {
  width: 100%;
  text-align: center;
}
#stars > h3 {
  width: 100%;
  text-align: center;
}
